body{
margin:0;
font-family:Arial, sans-serif;
background:#f3f3f3;
}

/* Navbar */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#131921;
color:white;
padding:10px 20px;
}

.logo-img{
width:90px;
}

.search{
display:flex;
}

.search input{
padding:8px;
width:350px;
border:none;
outline:none;
}

.search button{
padding:8px 12px;
background:#febd69;
border:none;
cursor:pointer;
}

.nav a{
color:white;
margin-left:15px;
text-decoration:none;
font-size:14px;
}

.nav a:hover{
text-decoration:underline;
}

/* Menu */
.menu{
background:#232f3e;
padding:10px 20px;
}

.menu a{
color:white;
margin-right:15px;
text-decoration:none;
font-size:14px;
}

.menu a:hover{
text-decoration:underline;
}

/* Hero */
.hero{
background:url("amazon.jpg");
background-size:cover;
background-position:center;
text-align:center;
padding:100px 20px;
color:white;
}

.hero h1{
font-size:40px;
margin-bottom:10px;
}

/* Products */
.products{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
padding:30px;
}

.card{
background:white;
border:1px solid #ddd;
padding:15px;
text-align:center;
width:220px;
border-radius:6px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
}

.card img{
width:100%;
height:150px;
object-fit:contain;
}

.card button{
background:#febd69;
border:none;
padding:10px;
cursor:pointer;
width:100%;
border-radius:4px;
margin-top:10px;
}

/* Signin */
.signin-box{
background:white;
text-align:center;
padding:30px;
margin:30px;
border-radius:6px;
}

/* Footer */
.back-top{
display:block;
background:#37475a;
color:white;
padding:12px;
text-align:center;
text-decoration:none;
}

.back-top:hover{
background:#485769;
}

.footer-links{
display:flex;
justify-content:space-around;
background:#232f3e;
padding:30px 20px;
text-align:left;
}

.footer-column{
display:flex;
flex-direction:column;
}

.footer-column h3{
margin-bottom:10px;
}

.footer-column a{
color:#ddd;
text-decoration:none;
margin-bottom:8px;
font-size:14px;
}

.footer-column a:hover{
text-decoration:underline;
}

.footer-bottom{
background:#131921;
padding:20px;
text-align:center;
color:white;
}

.footer-logo{
width:90px;
margin-bottom:10px;
}

/* Tablet */
@media (max-width: 992px){
.search input{ width:200px; }
.card{ width:45%; }
.footer-links{ flex-wrap:wrap; gap:20px; text-align:center; }
}

/* Mobile */
@media (max-width: 768px){

.navbar{
flex-direction:column;
gap:10px;
}

.search{
width:100%;
}

.search input{
width:100%;
}

.nav{
display:flex;
justify-content:space-around;
width:100%;
}

.menu{
display:flex;
flex-wrap:wrap;
gap:10px;
justify-content:center;
}

.products{
flex-direction:column;
align-items:center;
}

.card{
width:95%;
}

.footer-links{
flex-direction:column;
align-items:center;
text-align:center;
gap:25px;
}
}

/* Small Mobile */
@media (max-width: 500px){
.hero h1{ font-size:22px; }
.card{ width:100%; }
}