body{
margin:0;
font-family:Arial;
background:#f3f3f3;
}

/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
background:#131921;
color:white;
padding:10px 20px;
flex-wrap:wrap;
}

.logo-img{
width:90px;
}

.search{
display:flex;
flex:1;
max-width:400px;
margin:10px;
}

.search input{
padding:8px;
flex:1;
border:none;
outline:none;
}

.search button{
padding:8px 12px;
background:#febd69;
border:none;
cursor:pointer;
}

.nav a{
color:white;
margin-left:15px;
text-decoration:none;
font-size:14px;
}

.menu{
background:#232f3e;
padding:10px;
display:flex;
flex-wrap:wrap;
gap:15px;
}

.menu a{
color:white;
text-decoration:none;
font-size:14px;
}

/* HERO */

.hero{
background:url("amazon.jpg");
background-size:cover;
background-position:center;
height:300px;
}

/* PRODUCTS */

.products{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:30px;
}

.card{
position:relative;
background:white;
border-radius:10px;
padding:15px;
text-align:center;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card img{
width:100%;
height:150px;
object-fit:contain;
}

.badge{
position:absolute;
top:10px;
left:10px;
background:red;
color:white;
padding:5px 8px;
font-size:12px;
border-radius:4px;
}

.rating{
color:#ffa41c;
}

.price{
font-size:18px;
font-weight:bold;
}

.price span{
text-decoration:line-through;
color:gray;
font-size:14px;
margin-left:5px;
}

.card button{
background:#febd69;
border:none;
padding:10px;
cursor:pointer;
width:100%;
border-radius:4px;
margin-top:10px;
}

/* SIGN IN BOX */

.signin-box{
background:white;
text-align:center;
padding:30px;
margin:30px;
border-radius:6px;
}

/* FOOTER */

.back-top{
display:block;
background:#37475a;
color:white;
padding:12px;
text-align:center;
text-decoration:none;
}

.footer-links{
display:flex;
justify-content:space-around;
background:#232f3e;
padding:30px;
flex-wrap:wrap;
}

.footer-column{
display:flex;
flex-direction:column;
}

.footer-column a{
color:#ddd;
text-decoration:none;
margin-bottom:8px;
font-size:14px;
}

.footer-bottom{
background:#131921;
padding:20px;
text-align:center;
color:white;
}

.footer-logo{
width:90px;
margin-bottom:10px;
}

/* MOBILE RESPONSIVE */

@media (max-width:768px){

.products{
grid-template-columns:repeat(2,1fr);
}

.nav{
display:flex;
justify-content:space-around;
width:100%;
}

}

@media (max-width:480px){

.products{
grid-template-columns:1fr;
}

.search{
width:100%;
}

}